<% provide(:title, "Home") %>
<div class="z-depth-4">
  <h1 class="display-1">Wellcome to Sample App</h1>
  <p  class="lead">
    Rails tutorials Chapter 5
  </p> 
  <% if logged_in? %>
    <div class="row">
      <div class="col m2">
        <div class="user-info">
          <%= render 'shared/user_info' %>
        </div>
      </div>
      <div class="col m10">
        <div class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <h3>Microposts Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
    <%#= link_to "Users list", users_path,class: "btn waves-effect waves-light grey"%>
  <% else %>
    <%= link_to "Sign up now!", signup_path, class: "btn waves-effect waves-light" %>
  <% end %>
   <br>
   <br>
   <%= image_tag "http://wallpapercave.com/wp/XDZWopT.jpg", class: " 
    circle-rounded responsive-img" %>
    <br>
    <br>
    <%= link_to image_tag("http://railstutorial.org/rails.png", alt: "Rails logo", class: "pt-5"),'http://rubyonrails.org/' %>

</div>
<br>
