<%= provide(:title, "Log in") %>
<h1>Log in</h1>
  <div class="col m6 offset-m3" >
    <%= simple_form_for(:session, url: login_path) do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :remember_me, as: :boolean %>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p id = "link-new-user">New user? <%= link_to "Sign up now!", signup_path %></p>
</div>