<% provide(title: "Reset password") %>

<h1>Reset password</h1>

<div class="row">
  <div class="col m6 offset-m3">
    <%= simple_form_for (@user, url: password_reset_path(params[:id])) do |f| %>
      <%= f.input :email, @user.email, as: 'hidden' %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>

      <%= f.submit class: "btn" %>
    <% end %>
  </div>
</div>