<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
        <%= link_to "Sample App", root_path, id: "logo", class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   root_path , class: "activite"%></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
         <li><%= link_to "Help",   help_path %></li>
          <li><%= link_to "Log in", '#' %></li>
        </ul>
      </div>
      </nav>
      <div class="container">
        <%= yield %>
      </div>
      <div class="footer">
        <div class="container">
          <nav>
            <ul>
              <li><%= link_to "About",   about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><a href="http://news.railstutorial.org/">News</a></li>
            </ul>
          </nav>
          <h1 class="display-3">This create by <%= link_to "The Tien", "https://www.fb.com/dthtien", target: "_blank" %> acording to Rails tutorials</h1>
        </div>
      </div>
  </body>
</html>
